<ion-view view-title="Login">
  <ion-content>
<div  ng-disabled="!habilitarForm">
          <form ng-submit="logear()" ng-if="estaLogeado=='no'" novalidate>
            <div class="list">
              <label class="item item-input">
                <span class="input-label">usuario</span>
                <input type="text" ng-model="Datos.usuario"  ng-disabled="!habilitarForm">
              </label>
              <label class="item item-input">
                <span class="input-label">Clave</span>
                <input type="password" ng-model="Datos.clave" ng-disabled="!habilitarForm">
              </label>
                
              <label class="item">
                <button class="button button-block button-positive"  ng-show="habilitarForm" type="submit">Ingresar</button>
                  <center>     <ion-spinner icon="android" ng-show="!habilitarForm" ></ion-spinner></center>
              </label>
            </div>
          </form>
          <label class="item">
                <button class="button button-block button-assertive" ng-if="estaLogeado=='si'"ng-click="salir()">Salir del sistema </button>

          </label>

</div>

        <ion-list>
{{mensaje}}
              <ion-checkbox ng-model="mostrar">mostrar detalle</ion-checkbox>
  

        </ion-list>

          <pre ng-if="mostrar "><code > {{datosDelUsuario}}</code></pre>
       
  </ion-content>
</ion-view>
