<ion-view view-title="Alarmas">
  <ion-content class="fondoAlarma">
    <ion-list>
      <button class="mibotonAlarma  animated bounceInRight button button-full button-assertive icon-left ion-woman" ng-click="violenciaDeGenero()">
   Violencia de genero
</button>
  <button class="mibotonAlarma animated bounceInLeft button button-full button-positive icon-left ion-medkit" ng-click="Accidente()">
   Accidente 
</button>
  <button class="mibotonAlarma  animated bounceInUp button button-full button-energized icon-left ion-unlocked" ng-click="Asalto()">
   Asalto
</button>

    </ion-list>
  </ion-content>
</ion-view> 
<!--
violencia de  genero png
  <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>


-->
