<ion-view view-title="Alarmas">
  <ion-content>
    <ion-list>
      <button class="animated bounceInRight button button-full button-assertive icon-left ion-help-buoy" ng-click="violenciaDeGenero()">
   Violencia de genero
</button>
  <button class="animated bounceInRight button button-full button-positive" ng-click="Accidente()">
   Accidente
</button>
  <button class=" animated bounceInRight button button-full button-energized" ng-click="Asalto()">
   Asalto
</button>
<button id="x"> hola</button>
    </ion-list>
  </ion-content>
</ion-view> 
