/*fondo alarma
 Empty. Add your own CSS if you like */

.fondoAlarma{
	background-image: url("../img/fondo.jpg");
}

.mibotonAlarma{

	border-radius: 50%;
    max-width: 155px;
    height: 8em;
    margin: 7% auto;
}